.jogo{
    align-items: 9000p;
    background-image:url(/A3/Styles/image/images.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    width: 450px;
    height: 450px;
    left: 450px;
    top: 90px;
    position: relative;
}

.inicio{
    opacity: 10;
    width: 100px;
    height: 30px;
    top: 290px;
    left: 180px;
    position: relative;
}
